<p class="text-xs-center">Войдите для работы</p>
<div class="alert alert-{{message.type}}"
*ngIf="message.text">
    {{message.text}}
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div [ngClass]="{'has-error':form.get('email').invalid && form.get('email').touched}" class="form-group">
        <label for="email">Email</label>
        <input
            formControlName="email"
            type="text"
            class="form-control underlined"
            id="email"
            placeholder="Введите ваш email"
        >
    </div>
    <span *ngIf="form.get('email').invalid && form.get('email').touched" class="form-help-text">
            <span *ngIf="form.get('email')['errors']['required']">Email can not be null</span>
            <span *ngIf="form.get('email')['errors']['email']">Enter valid email</span>
    </span>
    <div [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}" class="form-group">
        <label for="password">Пароль</label>
        <input
            formControlName="password"
            type="password"
            class="form-control underlined"
            id="password"
            placeholder="Пароль"
        >
    </div>
    <span *ngIf="form.get('password').invalid && form.get('password').touched" class="form-help-text">
        <span *ngIf="form.get('password')['errors']['required']">Password can not be empty</span>
            <span *ngIf="form.get('password')['errors']['minlength']">
                Password must be more than {{form.get('password')['errors']['minlength']['requiredLength'] }} chars,
                now its {{form.get('password')['errors']['minlength']['actualLength']}}
            </span>
    </span>
    <div class="form-group">
        <button [disabled]="form.invalid" type="submit" class="btn btn-block btn-primary">Войти</button>
    </div>
    <div class="form-group">
        <p class="text-muted text-xs-center">
            Нет аккаунта? <a [routerLink]="'/registration'">Зарегистрироваться!</a>
        </p>
    </div>
</form>