<article class="content dashboard-page">
<div class="title-block">
        <h3 class="title pull-left">
            Страница счета <span class="sparkline bar"></span>
        </h3>
        <div class="pull-right">
          <button class="btn-sm btn btn-primary-outline">
            <i class="fa fa-refresh"></i>
          </button>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <wfm-bill-card></wfm-bill-card>
            <wfm-currency-card></wfm-currency-card>
        </div>
    </section>
</article>